*{
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}

header {
	color: rgb(255, 255, 255); /*a comment */
	margin: 30px;
    background-color: rgb(20, 20, 20);
    border: 5px solid rgb(255, 193, 193);
    border-top: 2px solid rgb(15, 15, 15);
    border-radius: 5px;
    width: 12%;
    height: 60px;
}

h1 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold ;    
}

h2{
    font-weight: bold;
    font-size: 30px ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.nav{
	color: rgb(255, 255, 255); /*a comment */
	margin: 10px;
	font: 20px impact;
    background-color: rgb(20, 20, 20);
    text-align: right;
}

section{
	color: rgb(255, 255, 255); /*a comment */
	margin: 10px;
	font: 10px impact;
    background-color: rgb(20, 20, 20);

}
article{
    color: rgb(255, 255, 255);
    margin: 10px;
	font: 20px impact;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(20, 20, 20);
    border-top: 2px solid rgb(20, 20, 20);
    border-bottom: 5px solid black;
    border-radius: 2px;
    width: 80%;
    height: 1200;
    margin-bottom: 10px;

}
.info{
	color: rgb(255, 255, 255); /*a comment */
	margin: 10px;
	font: 20px impact;
    background-color: rgb(20, 20, 20);
    border: 2px solid rgb(20, 20, 20);
    border-top: 2px solid rgb(20, 20, 20);
    border-bottom: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 80%;
    height: 1200px;
    margin-bottom: 10px;
}

footer
{
	color: rgb(255, 255, 255); /*a comment */
	margin: 10px;
	font: 10px;
    background-color: rgb(20, 20, 20);
    text-align: center;
}

.info{
    color: rgb(255, 255, 255);
}

#tema2{
    color: rgb(255, 255, 255);
    margin: 50px;
}

.borde{
    background-color: black;
    border: 1px solid rgb(255, 193, 193);
}

.menu{
    border: 1px solid rgb(255, 193, 193);
    list-style: none;
    padding: 0;
    background: rgb(20, 20, 20);
    width: 19.5%;
    max-width: 1000px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    color: rgb(255, 193, 193);
    padding: 20px;
    display: block;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background: gray;
}

img{
    width: 1000px;
}
.seccion{
    width: 1100px;
    border: 1px solid rgb(20, 20, 20);
    padding: 20px;
    float: left;
}
.columna h2{
    color: rgb(255, 193, 193);
}
.columna{
    margin-bottom: 1px;
    width: 300px;
    border: 1px solid rgb(255, 193, 193);
    float: left;
    margin: 10px 0;
}

.pie{
    clear:both
}

time{
    color: gray;
}
